<link href="/Static/CSS/styles.css" rel="stylesheet" media="screen">

<body>
    <div id="greeting" class="body">
        Thank you for choosing Vacation Station:
        <br>
        {{    guestContact['name']    }}
        <br>
    </div>

    <div id="main" class="body">
        {% block content %} {% endblock %}
    </div>

    <div id="footer" class="body">
        <br><br>
        We hope you have a wonderful time. If you have any questions, please contact us at (775) 831-3664. Our email is Travel@VacationStation.com.
        <br>
        Thanks,
        <br>
        Vacation Station
    </div>
</body>