{% extends "baseEmail.j2" %}
<body>
    <div id = "content">
        {% block content %}
        <br>
        How is your wonderful stay at {{    guestContact['propcode']    }}?
        <br>
        {% endblock %}
    </div>
</body>